body {
  margin: 0;
 background-color: rgb(2, 6, 31);
}
img {
  width: 100%;
  
}
main{
    max-width: 1200px;
    margin:0 auto;
}

h1 {
    color: rgb(243, 210, 168);
  
}
#section1,
#sorting p,
#filtering p {
    color: rgb(243, 210, 168);
  
}
#section1{
margin-top:10rem;
margin-bottom: 2rem;
}
/*list and student article styling*/
#list {
    max-width: 1200px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: 28px;
    background-image: url(images/hogwartsletterv3.jpg);
    padding:2rem;
    border-radius: 10px;
  }

  #expelledlist {
    max-width: 1200px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: 28px;
    background-color: rgb(95, 86, 78);
    padding:2rem;
    border-radius: 10px;
  }
#student {
  padding: 1rem;
  cursor: pointer;
}

#student:hover{
    background-color: rgba(233, 209, 173, 0.377);
}

#student img{
    margin:0 auto;
    max-width: 130px;
}

/*default and houses classes for the student articles*/
.default{
  /*  background-color: rgba(243, 233, 214, 0.568); */
    border-bottom:4px dotted rgb(80, 43, 30);
    padding:15px

}
.Gryffindor {
  background-color: rgb(175, 55, 55);
  border: 5px solid rgb(214, 157, 34);
}

.Ravenclaw {
  background-color: rgb(46, 61, 129);
  border: 5px solid rgb(166, 186, 204);
}

.Hufflepuff {
  background-color: rgb(231, 202, 72);
  border: 5px solid rgb(36, 36, 36);
}
.Slytherin {
  background-color: rgb(33, 110, 65);
  border: 5px solid rgb(163, 187, 201);
}



/*popup styling*/
#popup {
  overflow-y: scroll;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(26, 22, 19, 0.856);
}

#popup article {
    
    width: 35vw;
    margin: 15rem auto;
    padding: 1.5vw;
    border-radius: 10px;
  
}

#bottomflex{
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 100%;

}
.col1{
    width:40%;
}
.col3{
  display: flex;
  width:100%;
  align-self: center;
}
#popup article img {
    width: 80%;
    max-width: 30vw;
  }

  #topflex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

#luk {
    align-self: flex-start;
    font-size: 1.2em;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.hidden{
  display: none;
}
